:root {
  --container-spacing: 16px;
  --position-left: 50%;
  --left-dott-position: 1px;
  --right-dott-position: -1px;
  --right-v3-dott-position: -11px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: auto; */
}

body {
  font-family: "Inter", sans-serif;
  background: #f4f5f7;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--container-spacing);
}

.btn {
  border: 1px solid transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 16px;
  text-transform: capitalize;
  text-decoration: none;
}

.btn-primary {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  transition: opacity 500ms ease-in-out;
}

.btn-primary:hover {
  opacity: 75%;
}

/* timeline sec */

.timeline-sec {
  padding-block: 100px;
  /* margin-bottom: 1000px; */
}

.timeline-wrap {
  display: flex;
  align-items: center;
  position: relative;
  --spacing: 50px;
}

.timeline-wrap::before {
  content: "";
  position: absolute;
  left: var(--position-left);
  top: 0;
  width: 2px;
  height: 100%;
  background: #14151a1a;
  z-index: -1;
}

.timeline-connector {
  position: relative;
  -webkit-mask-image: linear-gradient(#f4f5f7, #f4f5f7);
  mask-image: linear-gradient(#f4f5f7, #f4f5f7);
}

.timeline-connector::after {
  content: "";
  position: fixed;
  top: 0;
  left: calc(var(--position-left));
  width: 2px;
  height: 20%;
  background: #ff00ff;
  z-index: -1;
}

.timeline-year {
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  padding: 6px 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(123, 47, 247, 0.3);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  border-radius: 999px;
  white-space: nowrap;
}

.card-img {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 24px;
  aspect-ratio: 1/0.8;
}

.card-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease;
}

.card-img:hover img {
  transform: scale(1.05);
}

.card-title {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.card-dec {
  padding-bottom: 16px;
}

.card-dec .richtext p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
}

.timeline-content-block {
  position: relative;
  width: 50%;
}

.timeline-year-block {
  display: flex;
}

.timeline-wrap .timeline-content-block:has(.timeline-year-block)::after {
  --dotts-width: 10px;
  content: "";
  position: absolute;
  width: var(--dotts-width);
  aspect-ratio: 1;
  top: 50%;
  background-color: #242424;
  border-radius: 50%;
  z-index: 9;
}

.timeline-wrap:nth-child(even) .timeline-content-block:nth-child(1)::after {
  right: auto;
  left: var(--left-dott-position);
  transform: translateX(calc(-1 * var(--dotts-width) / 2)) translateY(-50%);
}

.timeline-wrap:nth-child(even) .timeline-content-block:nth-child(2)::after {
  right: var(--right-dott-position);
  transform: translateX(calc(var(--dotts-width) / 2)) translateY(-50%);
}

.timeline-wrap:nth-child(odd) .timeline-content-block:nth-child(2)::after {
  right: auto;
  left: var(--left-dott-position);
  transform: translateX(calc(-1 * var(--dotts-width) / 2)) translateY(-50%);
}

.timeline-wrap:nth-child(odd) .timeline-content-block:nth-child(1)::after {
  right: var(--right-dott-position);
  transform: translateX(calc(var(--dotts-width) / 2)) translateY(-50%);
}

.timeline-wrap:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(2),
.timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1),
.timeline-sec-leftside
  .timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2),
.timeline-sec-rightside
  .timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2),
.timeline-sec-dark
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(odd) {
  padding: var(--spacing);
  padding-right: 0;
}

.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(1),
.timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.timeline-connector .timeline-wrap:nth-child(odd) .timeline-year-block {
  margin-right: 0;
  margin-left: calc(-1 * var(--spacing) + 10px);
}

.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(1)
  .timeline-year-block,
.timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2)
  .timeline-year-block {
  justify-content: flex-end;
  margin-right: calc(-1 * var(--spacing) + 10px);
}

.timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1)
  .timeline-year-block,
.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(2)
  .timeline-year-block {
  margin-left: calc(-1 * var(--spacing) + 10px);
}

.card-wrap {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
}

.main-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.card-wrap:not(:nth-child(1)),
.btn {
  display: none;
}

.main-dec {
  margin-bottom: 50px;
}

.main-dec .richtext p {
  font-size: 14px;
  text-align: center;
  max-width: 700px;
  margin-inline: auto;
  color: #242424;
  line-height: 1.6;
  font-weight: 400;
}

/* custom aos scrolling */

[data-aos] {
  opacity: 0;
  transition: all 0.8s ease-out;
  transform: translateY(50px);
}

.aos-animate.aos-fade-up {
  opacity: 1;
  transform: translateY(0);
}

/* timeline sec compact v-2 */

.timeline-sec-compact .timeline-wrap {
  align-items: start;
  --spacing: 30px;
}

.timeline-sec-compact .timeline-year {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: white;
  padding: 6px 14px;
  border-radius: 50px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.timeline-sec-compact .timeline-connector::after{
  background: #2575fc;
}

.timeline-sec-compact .card-img,
.timeline-sec-leftside .card-img,
.timeline-sec-rightside .card-img,
.timeline-sec-dark .card-img {
  display: none;
}

.timeline-sec-compact .card-wrap {
  padding: 28px;
  border-radius: 10px;
  position: relative;
  background-color: #ffffff;
  max-width: 100%;
}

.timeline-sec-compact
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(1)
  .card-wrap:nth-child(1),
.timeline-sec-compact
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2)
  .card-wrap:nth-child(1) {
  border-top-right-radius: 0;
}

.timeline-sec-compact
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1)
  .card-wrap:nth-child(1),
.timeline-sec-compact
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(2)
  .card-wrap:nth-child(1) {
  border-top-left-radius: 0;
}

.timeline-sec-compact .card-wrap:nth-child(1)::after {
  content: "";
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  --shape: 12px;
  width: var(--shape);
  aspect-ratio: 1;
  background-color: #ffffff;
  top: 0;
  z-index: 1;
  border: 1px solid transparent;
}

.timeline-sec-compact
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(1)
  .card-wrap:nth-child(1)::after,
.timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2)
  .card-wrap:nth-child(1)::after {
  left: auto;
  right: calc(-1 * var(--shape) + -1px);
  transform: scaleX(-1);
}

.timeline-sec-compact
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1)
  .card-wrap:nth-child(1)::after,
.timeline-content-block:nth-child(2) .card-wrap:nth-child(1)::after {
  right: auto;
  left: calc(-1 * var(--shape) + 2px);
  transform: scaleX(1);
}

.timeline-sec-compact .card-title {
  font-size: 26px;
}

.timeline-sec-compact .card-wrap {
  display: block;
  max-width: 100%;
}

.timeline-sec-compact .card-wrap {
  margin-bottom: 16px;
}

.timeline-sec-compact .btn {
  display: inline-block;
}

.timeline-sec-compact
  .timeline-wrap
  .timeline-content-block:has(.card-wrap) {
  flex-direction: column;
}

/* timeline-sec-leftside v-3*/

.timeline-sec-leftside .timeline-wrap,
.timeline-sec-rightside .timeline-wrap {
  --spacing: 20px;
}

.timeline-sec-leftside .timeline-wrap:nth-child(even),
.timeline-sec-rightside .timeline-wrap:nth-child(even),
.timeline-sec-dark .timeline-wrap:nth-child(even) {
  flex-direction: row;
}

.timeline-sec-leftside
  .timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-year-block,
.timeline-sec-leftside
  .timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-year-block {
  margin-left: 0;
  margin-right: 0;
}

.timeline-sec-leftside
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1)::after,
.timeline-sec-dark
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1)::after {
  left: auto;
  right: var(--right-v3-dott-position);
}

.timeline-sec-leftside
  .timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1),
.timeline-sec-rightside
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1),
.timeline-sec-dark
  .timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1),
.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(1),
.timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2) {
  padding: var(--spacing);
  padding-left: 0;
}

.timeline-sec-leftside
  .timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-year-block,
.timeline-connector .timeline-wrap:nth-child(even) .timeline-year-block,
.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(2)
  .timeline-year-block,
.timeline-sec-leftside
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(1),
.timeline-sec-leftside
  .timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-year-block {
  justify-content: flex-start;
}

.timeline-sec-leftside .timeline-content-block:nth-child(1),
.timeline-sec-rightside .timeline-content-block:nth-child(2) {
  width: fit-content;
  z-index: 2;
}

.timeline-sec-leftside .timeline-content-block:nth-child(2) {
  width: 100%;
}

.timeline-sec-leftside .timeline-wrap::before {
  left: var(--before-left);
}

.timeline-sec-leftside .timeline-connector::after {
  left: calc(var(--before-left-fixed) + var(--container-spacing));
}

.timeline-sec-leftside .card-wrap,
.timeline-sec-rightside .card-wrap {
  max-width: 100%;
}

.timeline-sec-leftside
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1)
  .timeline-year-block {
  margin-left: 0;
}

/* timeline-sec-rightside v-4*/

.timeline-sec-rightside
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2)::after {
  right: auto;
  left: var(--right-v3-dott-position);
}

.timeline-sec-rightside .timeline-content-block:nth-child(1)::before {
  left: auto;
  right: 0;
}

.timeline-sec-rightside
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(2)::after {
  left: var(--right-dott-position);
}

.timeline-sec-rightside .timeline-content-block:nth-child(1) {
  width: 100%;
}

.timeline-sec-rightside
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(2)
  .timeline-year-block {
  margin-left: 0;
  justify-content: flex-end;
}

.timeline-sec-rightside .timeline-wrap::before {
  left: auto;
  right: var(--before-left);
}

.timeline-sec-rightside .timeline-connector::after {
  left: auto;
  right: calc(var(--before-left-fixed) + 16px);
}

.timeline-sec-rightside
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2)
  .timeline-year-block {
  margin-right: 0;
}

/* timeline-sec-dark v-5 */

.timeline-sec-dark {
  background-color: #0f0f0f;
}

.timeline-sec-dark
  .timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-year-block {
  justify-content: flex-end;
}

.timeline-sec-dark .timeline-wrap:nth-child(even) .timeline-year-block {
  margin-right: calc(-1 * var(--spacing) + 10px);
}

.timeline-sec-dark .timeline-content-block:nth-child(1) {
  width: 50%;
  z-index: 1;
}

.timeline-sec-dark .timeline-content-block:nth-child(2) {
  width: 100%;
}

.timeline-sec-dark .main-title {
  color: white;
}

.timeline-sec-dark .main-dec .richtext p {
  color: white;
}

.timeline-sec-dark .timeline-year {
  font-size: 60px;
  font-weight: bold;
  background: transparent;
  box-shadow: none;
}

.timeline-sec-dark .card-wrap {
  background-color: #1a1a1a;
  border: 1px solid #2d2d2d;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
  max-width: 100%;
}

.timeline-sec-dark .card-title {
  color: #ffffff;
}

.timeline-sec-dark .card-dec .richtext p {
  color: #cccccc;
}

.timeline-sec-dark .timeline-wrap::before {
  background: skyblue;
  left: var(--before-left);
}

.timeline-sec-dark .timeline-connector::after {
  left: calc(var(--before-left-fixed) + var(--container-spacing));
  z-index: 0;
}

.timeline-sec-dark
  .timeline-wrap
  .timeline-content-block:has(.timeline-year-block)::after {
  background-color: white;
  z-index: 11;
}

.timeline-sec-dark .timeline-content-block:nth-child(2).in-view::before {
  background-color: skyblue;
}

.timeline-sec-dark
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2) {
  padding-right: 0;
  padding-left: var(--spacing);
}

.timeline-sec-dark
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1)
  .timeline-year-block {
  margin-left: 0;
}

@media (max-width: 767.99px) {
  :root {
    --container-spacing: 16px;
    --position-left: 0;
    --left-dott-position: 1px;
    --right-dott-position: -1px;
    --right-v3-dott-position: -11px;
  }

  .timeline-wrap:nth-child(even) .timeline-content-block:nth-child(1)::after,
  .timeline-wrap:nth-child(even) .timeline-content-block:nth-child(2)::after,
  .timeline-wrap:nth-child(odd) .timeline-content-block:nth-child(2)::after,
  .timeline-wrap:nth-child(odd) .timeline-content-block:nth-child(1)::after {
    right: auto;
    left: var(--left-dott-position);
    transform: translateX(calc(-1 * var(--dotts-width) / 2)) translateY(-50%);
  }

  .timeline-wrap {
    --spacing: 20px;
  }

  .timeline-wrap:has(
      .timeline-content-block:nth-child(2) .timeline-year-block
    ) {
    flex-direction: column-reverse;
  }

  .timeline-wrap:has(
      .timeline-content-block:nth-child(1) .timeline-year-block
    ) {
    flex-direction: column;
  }

  .card-img {
    max-width: 100%;
  }

  .timeline-wrap::before {
    left: var(--position-left);
  }

  .timeline-year-block {
    justify-content: flex-start;
  }

  .timeline-content-block {
    width: 100%;
  }

  .timeline-connector
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(2),
  .timeline-connector
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(1),
  .timeline-sec-compact
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(1),
  .timeline-sec-leftside
    .timeline-connector
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(1) {
    padding: var(--spacing);
  }

  .timeline-connector
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(1)
    .timeline-year-block,
  .timeline-connector .timeline-wrap:nth-child(odd) .timeline-year-block,
  .timeline-connector
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(2)
    .timeline-year-block,
  .timeline-connector
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(1),
  .timeline-connector
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(2),
  .timeline-sec-rightside
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(2)
    .timeline-year-block,
  .timeline-sec-dark
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(1)
    .timeline-year-block {
    justify-content: flex-start;
  }

  .timeline-connector .timeline-wrap:nth-child(even) .timeline-year-block,
  .timeline-connector
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(2)
    .timeline-year-block {
    margin: 0;
  }

  .timeline-wrap:nth-child(odd) .timeline-content-block:nth-child(1) ::after,
  .timeline-wrap:nth-child(even) .timeline-content-block:nth-child(1)::after {
    left: 0;
    transform: translateX(-6px) translateY(-5px);
  }

  .timeline-connector
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(1),
  .timeline-connector
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(2),
  .timeline-sec-leftside
    .timeline-connector
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(2) {
    padding-right: var(--spacing);
  }

  .card-wrap {
    max-width: 500px;
  }

  .timeline-connector::after,
  .timeline-sec-compact .timeline-connector::after {
    left: calc(var(--before-left-fixed) + var(--container-spacing));
  }

  /* timeline-sec-compact v-2 */

  .timeline-sec-compact .card-wrap:nth-child(1)::after {
    position: static;
  }

  .timeline-sec-compact
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(1)
    .card-wrap:nth-child(1) {
    border-top-left-radius: 10px;
  }

  .timeline-sec-compact
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(1)
    .card-wrap:nth-child(1) {
    border-top-right-radius: 10px;
  }

  .timeline-sec-compact .timeline-wrap {
    --spacing: 20px;
  }

  /* timeline-sec-leftside v-3*/

  .timeline-sec-leftside .timeline-wrap,
  .timeline-sec-rightside .timeline-wrap,
  .timeline-sec-dark .timeline-wrap {
    --spacing: 15px;
  }

  .timeline-sec-leftside .timeline-content-block:nth-child(1),
  .timeline-sec-dark .timeline-content-block:nth-child(1),
  .timeline-sec-rightside .timeline-content-block:nth-child(2) {
    width: 100%;
  }

  .timeline-sec-leftside
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(1)::after,
  .timeline-sec-dark
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(1)::after,
  .timeline-sec-rightside
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(2)::after {
    right: auto;
    left: var(--left-dott-position);
  }

  .timeline-sec-leftside .timeline-content-block:nth-child(2)::before,
  .timeline-sec-dark .timeline-content-block:nth-child(2)::before,
  .timeline-sec-rightside .timeline-content-block:nth-child(1)::before {
    display: none;
  }

  .timeline-sec-leftside
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(1)::after,
  .timeline-sec-rightside
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(2)::after,
  .timeline-sec-rightside
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(2)::after,
  .timeline-sec-dark
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(1)::after {
    left: var(--left-dott-position);
  }

  .timeline-sec-rightside .timeline-connector::after {
    right: auto;
    left: calc(var(--before-left-fixed) + var(--container-spacing));
  }

  /* v-4 */

  .timeline-sec-rightside
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(1) {
    padding-left: var(--spacing);
  }

  .timeline-sec-rightside .timeline-wrap::before {
    left: var(--before-left);
  }
}

@media (max-width: 556.99px) {
  :root {
    --container-spacing: 16px;
    --position-left: 0;
    --left-dott-position: 1px;
    --right-dott-position: -1px;
    --right-v3-dott-position: -11px;
  }

  .timeline-sec {
    padding-block: 50px;
  }

  .card-dec .richtext p {
    font-size: 14px;
  }

  .timeline-sec-compact .card-title {
    font-size: 24px;
  }

  .timeline-sec-dark .timeline-year {
    font-size: 30px;
  }

  .main-title {
    font-size: 24px;
  }
}
