* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 16px;
}

/* timeline sec */

.timeline-sec {
  padding-block: 100px;
}

.timeline-wrap {
  display: flex;
  align-items: center;
  position: relative;
  --spacing: 50px;
}

.timeline-wrap::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #242424;
}

.timeline-year {
  background: linear-gradient(135deg, #5a0ef0, #8c45ff);
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  letter-spacing: 1.5px;
  border-radius: 50px;
}

.timeline-content-img {
  width: 100%;
  max-height: 400px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 24px;
}

.timeline-content-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.timeline-content-title {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.timeline-content-dec .richtext p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.timeline-content-block {
  position: relative;
  width: 50%;
}

.timeline-year-block {
  display: flex;
}

.timeline-wrap:nth-child(odd) .timeline-content-block:nth-child(1) ::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 0;
  transform: translateX(6px) translateY(-5px);
  z-index: 2;
  background-color: #242424;
  border-radius: 50%;
}

.timeline-wrap:nth-child(even) .timeline-content-block:nth-child(1) ::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 0;
  transform: translateX(-4px) translateY(-5px);
  z-index: 2;
  background-color: #242424;
  border-radius: 50%;
}

.timeline-wrap:nth-child(even) {
  flex-direction: row-reverse;
}

.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(2) {
  padding: var(--spacing);
  padding-right: 0;
}

.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(1) {
  padding: var(--spacing);
  padding-left: 0;
}

.timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(1) {
  padding: var(--spacing);
  padding-right: 0;
}

.timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2) {
  padding: var(--spacing);
  padding-left: 0;
}

.timeline-connector .timeline-wrap:nth-child(odd) .timeline-year-block,
.timeline-connector
  .timeline-wrap:nth-child(even)
  .timeline-content-block:nth-child(2)
  .timeline-year-block {
  justify-content: flex-end;
  margin-right: calc(-1 * var(--spacing) + 10px);
}

.timeline-connector .timeline-wrap:nth-child(even) .timeline-year-block,
.timeline-connector
  .timeline-wrap:nth-child(odd)
  .timeline-content-block:nth-child(2)
  .timeline-year-block {
  justify-content: flex-start;
  margin-left: calc(-1 * var(--spacing) + 10px);
}

@media (max-width: 768px) {
  .timeline-wrap {
    display: block;
    --spacing: 20px;
  }

  .timeline-content-img {
    max-width: 100%;
    max-height: 400px;
  }

  .timeline-wrap::before {
    left: -2px;
  }

  .timeline-year-block {
    justify-content: flex-start;
  }

  .timeline-content-block {
    width: 100%;
  }

  .timeline-wrap::after {
    top: 0;
    left: 0;
    transform: translateX(-6px) translateY(42px);
  }

  .timeline-connector
    .timeline-wrap:nth-child(even)
    .timeline-content-block:nth-child(2) {
    padding: var(--spacing);
    padding-right: 0;
  }

  .timeline-connector
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(1)
    .timeline-year-block ,.timeline-connector .timeline-wrap:nth-child(odd) .timeline-year-block, .timeline-connector .timeline-wrap:nth-child(even) .timeline-content-block:nth-child(2) .timeline-year-block  {
    justify-content: flex-start;
  }

  .timeline-connector
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(1) {
    padding: var(--spacing);
    padding-right: 0;
  }

  .timeline-connector .timeline-wrap:nth-child(even) .timeline-year-block,
  .timeline-connector
    .timeline-wrap:nth-child(odd)
    .timeline-content-block:nth-child(2)
    .timeline-year-blockk {
    margin: 0;
  }

  .timeline-wrap:nth-child(odd) .timeline-content-block:nth-child(1) ::after,
  .timeline-wrap:nth-child(even) .timeline-content-block:nth-child(1) ::after {
    left: 0;
    transform: translateX(-6px) translateY(-5px);
  }
}
